* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -1px;
    text-shadow: 1px 1px 2px rgb(184, 180, 180);
    
}
body {
    height: 100vh;
    background-color: rgb(236, 243, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}
.list-of-animals ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 12px;
    justify-content: center;
    margin: 1rem;
}

.list-of-animals li {
    font-size: clamp(1rem, 20px, 24px);
    font-weight: 500;
    
}

.list-of-animals li:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.animal-info {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.img-div {
    min-width: 200px;
    width: 30vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 10px solid white;
    overflow: hidden;
    align-self: center;
    box-shadow: 1px 1px 2px rgb(184, 180, 180);
}

.img-div img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 24px;
    color: rgb(156, 154, 154);
    text-align: center;
    letter-spacing: normal;
}


